/* 
Bg - #070e27
login button - #162044
primary blue - #0059f7
p colors - #7f8cb7 
*/

body {
    background-color: #070e27;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #fff;
}

p {
    color: #7f8cb7;
}

/* Header */

header {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid grey;
    padding: 30px 80px;
    margin-bottom: 80px;
    position: sticky;
    top: 0px;
    background-color: #070e27;
}

.header-title a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}

.navigation {
    margin-right: 20px;
}

.nav-list { 
    display: flex;
    gap: 20px;
    letter-spacing: 1px;
}

.nav-login-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.login {
    background-color: #1D3B72;
    color: #fff;
    border-radius: 8px;
    padding: 12px 18px;
    border: 1px solid #1D3B72;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-item a:hover {
    text-decoration: underline;
}

/* Hero */

#hero {
    padding: 0px 80px 0 80px;
    margin-bottom: 80px;
}

.hero-info {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-right: auto;
}

.description {
    margin-left: auto;
}

.hero-desc {
    margin-bottom: 24px;
    font-size: 18px;
}

.pricing-btn {
    border-radius: 8px;
    background-color: #0059f7;
    border: 1px solid #0059f7;
    color: #fff;
    padding: 14px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.hero-img {
    width: 100%;
}

.partners-list {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    max-width: 80%;
    border-bottom: 1px solid grey;
} 

.partner {
    margin: 80px 0 80px 0;
}




