/* 
Bg - #070e27
login button - #162044
primary blue - #0059f7
p colors - #7f8cb7 
*/

body {
    background-color: #070e27;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #fff;
}

p {
    color: #7f8cb7;
}

/* Header */

header {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid grey;
    padding: 30px 80px;
    margin-bottom: 80px;
    position: sticky;
    top: 0px;
    background-color: #070e27;
}

.header-title a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}

.navigation {
    margin-right: 20px;
}

.nav-list { 
    display: flex;
    gap: 20px;
    letter-spacing: 1px;
}

.nav-login-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.login {
    background-color: #1D3B72;
    color: #fff;
    border-radius: 8px;
    padding: 12px 18px;
    border: 1px solid #1D3B72;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-item a:hover {
    text-decoration: underline;
}

/* Hero */

#hero {
    padding: 0px 80px 0 80px;
    margin-bottom: 80px;
}

.hero-info {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-left: auto;
}


.hero-title {
    font-size: 44px;
    font-weight: 700;
    width: 40%;
    margin-right: calc(40%);
}

.description {
    width: 60%;
}

.hero-desc {
    margin-bottom: 24px;
    font-size: 16px;
}

.pricing-btn {
    border-radius: 6px;
    background-color: #0059f7;
    border: 1px solid #0059f7;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.hero-img {
    margin: auto;
    width: 80%;
}

.partners-list {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    max-width: 60%;
    border-bottom: 1px solid grey;
} 

.partner {
    margin: 80px 0 80px 0;
}

/* FEATURES */

#features {
    max-width: 60%;
    margin: auto;
    margin-bottom: 120px;
}

.features-title {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 20px;
}

.features-subtitle {
    font-size: 18px;
    margin-bottom: 24px;
    max-width: 30%;
}

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 80px;
}

.card {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 18px 20px;
    width: calc(50% - 18px);
}

.card:hover {
    background-color: #081131;
}

i {
    color: lightgray;
    margin-bottom: 20px;
    font-size: 24px;
}

.card-title {
    color: #fff;
    margin-bottom: 16px;
}

.card-description {
    color: #DCDCDC;
}

.start-trial {
    background-color: #0059f7;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
}

.start-trial-subtitle {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.start-trial-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 16px;
}

.start-trial-btn {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #689eff;
    border: 1px solid #689eff;
    border-radius: 8px;
    text-align: center;
    padding: 12px 18px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.fas.fa-long-arrow-alt-right {
    color: #fff;
    margin-left: 8px;
    margin-bottom: 0px;
}

/* HOW */

#how {
    max-width: 60%;
    margin: auto;
    margin-bottom: 120px;
}

.how-subtitle {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 14px;
}

.how-title {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 36px;
}

.how-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.group-img {
    width: 50%;
}

.content {
    width: 30%;
}

.content-title {
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 16px;
}

.how-article:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

/* Pricing */

#pricing {
    max-width: 60%;
    margin: auto;
    margin-bottom: 120px;
}

.pricing-subtitle {
    text-align: center;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.pricing-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.plans {
    display: flex;
    gap: 28px;
    align-items: end;
}

.plan {
    background-color: #081131;
    padding: 38px 48px;
    width: 400px;
    border-radius: 8px;
}

.plan:nth-child(even) {
    background-color: #162044;
    margin-bottom: 48px;
}

.plan:nth-child(even) .plan-button {
    background-color: #0059f7;
    border: 1px solid #0059f7;
}

.plan-title {
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

/*  */

.plan-heading {
    border-bottom: 1px solid grey;
    padding-bottom: 28px;
}

.fa-dollar-sign {
    font-size: 36px;
}

.plan-price {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}

.perks {
    margin-top: 40px;
}

.perk {
    display: flex;
}

.fa-check-circle {
    background-color: #4e5a85;
    border-radius: 50%;
}

.perk-description {
    margin-left: 8px;
    color: #bfc5dd;
}

.plan-button {
    display: flex;
    align-items: center;
    background-color: #4e5a85;
    border: 1px solid #4e5a85;
    border-radius: 8px;
    text-align: center;
    padding: 14px 16px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

/* FOOTER  */

footer {
    background-color: #162044;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 30px 0;
}

.socials-list {
    display: flex;
    gap: 32px;
}

.fab {
    margin-bottom: 0px;
    font-size: 22px;
}

.fab:hover {
    color: #0059f7;
}

.terms-list {
    display: flex;
    gap: 24px;
}

.terms-list a {
    text-decoration: none;
    color: #fff;
}

.copy-right {
    color: #fff;
}

/* make the site responsive */



